body
	{
		background: #ffffff;
   font-family: 'Roboto', sans-serif;
    font-weight: 400;
    position: relative;
	}


html,body {
      width: 100%;
     overflow-x: hidden;
  }

h1,h2,h3,h4 {
  font-weight: 400;
  letter-spacing: 6px;
}

.heading {
  font-size: 20px;
}
.subheading {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 60px;
}
.bold {
  font-weight: bold;
}

p {
  letter-spacing: 1px;
  line-height: 28px;
}

a {
  outline: none !important;
}

hr {
  width: 100px;
}

strong {
  font-size: 50px;
}

.section-title {
  padding-bottom: 32px;
}

.medium-icon {
  font-size: 32px !important;
}

#feature, #team, #pricing, #contact {
   padding-top: 100px;
  padding-bottom: 100px;
}

#feature, #team, #pricing {
  text-align: center;
}

#team, footer {
  background: #2b2b2b;
  color: #ffffff;
}


/* ==========================================================================
preloader section
========================================================================== */
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background: none repeat scroll 0 0 #fff;
}
.sk-spinner-circle.sk-spinner {
  width: 24px;
  height: 24px;
  position: relative; }
.sk-spinner-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
.sk-spinner-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 20%;
  height: 20%;
  background-color: #009988;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in;
          animation: sk-circleBounceDelay 1.2s infinite ease-in;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }
.sk-spinner-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-spinner-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-spinner-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-spinner-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-spinner-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-spinner-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-spinner-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-spinner-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-spinner-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-spinner-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-spinner-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-spinner-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-spinner-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-spinner-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-spinner-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-spinner-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-spinner-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-spinner-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-spinner-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-spinner-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-spinner-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-spinner-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0); }

  40% {
    -webkit-transform: scale(1);
            transform: scale(1); } }


/* ==========================================================================
navigation section
========================================================================== */
.sticky-navigation {
    opacity: 0;
  }
.navbar-default {
    background: #fff;
    border: none;
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    margin: 0 !important;
     padding: 0;
  }
.navbar-default .navbar-brand {
    color: #2D3451;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
     padding: 12px 0px 0px 12px;
  }
.navbar-default .navbar-nav li a {
    color: #606060;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 11px;
    line-height: 40px;
    padding-right: 20px;
    padding-left: 20px;
  }
.navbar-default .navbar-nav li a:hover {
    color: #aac1bf;
  }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #aac1bf;
  background-color: transparent;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #aac1bf;
  background-color: transparent;
}
.navbar-default .navbar-toggle {
     border: none;
     padding-top: 10px;
  }
.navbar-default .navbar-toggle .icon-bar {
    background: #aac1bf;
    border-color: transparent;
  }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent
}


/* ==========================================================================
home section
========================================================================== */
#home {
  background: #2D3451;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  min-height: 650px;
  padding-top: 220px;
  text-align: center;
}
#home h1,
#home h3 {
  font-size: 100px;
  font-weight: 600;
}
#home .btn {
  background: transparent;
  border: 4px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding: 12px 42px;
  margin-top: 40px;
  margin-right: 16px;
  transition: all 0.4s ease-in;
}
#home .btn:hover {
  background: #aac1bf;
  border-color: transparent;
}
#home .btn-danger {
  background: #aac1bf;
  border-color: transparent;
}


/* ==========================================================================
feature section
========================================================================== */
#feature .col-md-12 {
  padding-top: 30px;
  padding-bottom: 40px;
}
#feature h3 {
  font-size: 16px;
}


/* ==========================================================================
team section
========================================================================== */
#team {
  padding-bottom: 0;
}
#team .col-md-4 {
  padding: 10px;
}
#team h3 {
  color: #009988;
  font-size: 14px;
  font-weight: bold;
}
#team .team-wrapper .team-des {
  position: relative;
  cursor: pointer;
  padding-top: 60px;
  padding-bottom: 60px;
  bottom: 40px;
  transition: all 0.4s ease-in-out;
}
#team .team-wrapper:hover .team-des {
  background: #3b3b3b;
  bottom: 60px;
}


/* ==========================================================================
pricing section
========================================================================== */
#pricing .plan {
  background: #aac1bf;
  padding: 40px 0px 60px 0px;
  margin-top: 60px;
  margin-bottom: 32px;
}
#pricing .plan .plan_title {
  background: #f9f9f9;
  border-radius: 50%;
  width: 180px;
  height: 180px;
  margin: 0 auto;
}
#pricing h2 {
  border-bottom: 1px solid #bbc1bf;
}
#pricing .plan h3 {
  font-size: 16px;
  font-weight: bold;
  line-height: 180px;
}
#pricing .plan h2 {
  font-weight: bold;
  padding: 30px;
}
#pricing .plan ul {
  padding: 0px;
}
#pricing .plan ul li {
  display: block;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 30px 0px 10px 0px;
}
#pricing .plan .btn {
  background: #ffffff;
  border: none;
  border-radius: 0px;
  color: #2b2b2b;
  font-size: 16px;
  font-weight: bold;
  padding: 16px 60px;
  transition: all 0.4s ease-in;
  margin-top: 20px;
  text-transform: uppercase;
}
#pricing .plan .btn:hover {
  background: #eeeeee;
}


/* ==========================================================================
contact section
========================================================================== */
#contact {
  background: #f9f9f9;
  padding-bottom: 0;
}
#contact .contact-address {
  color: #ffffff;
  position: relative;
  top: 140px;
}
#contact .contact-address p {
  line-height: 16px;
}
#contact .contact-email,
#contact .contact-phone, #contact .contact-website {
  padding: 100px;
}
#contact .contact-email {
  background: #009988;
}
#contact .contact-phone {
  background: #2b2b2b;
}
#contact .contact-website {
  background: #2D3451;
}
#contact h3 {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 12px;
}
#contact .medium-icon {
  color: #ffffff;
  font-size: 28px !important;
}
#contact .contact-info div {
  padding-top: 14px;
  padding-bottom: 14px;
}
#contact .form-control {
  background: none;
  border-radius: 0;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-bottom: 2px solid #aac1bf;
  box-shadow: none;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 0.4s ease-in;
}
#contact .form-control:focus {
  border-bottom-color: #202020;
}
#contact input {
  height: 60px;
}
#contact input[type="submit"] {
  border: 2px solid #009988;
  color: #2b2b2b;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 18px;
}
#contact input[type="submit"]:hover {
  background: #009988;
}


/* ==========================================================================
footer section
========================================================================== */
footer {
  text-align: center;
  padding-top: 260px;
  padding-bottom: 60px;
}
footer p {
  padding-top: 20px;
}
.social-icon {
  padding: 0;
  margin: 0;
}
.social-icon li {
  list-style: none;
  display: inline-block;
  padding: 10px;
}
.social-icon li a {
  border: 1px solid #aac1bf;
  border-radius: 50%;
  color: #aac1bf;
  font-size: 18px;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  text-decoration: none;
  transition: all 0.4s ease-in;
}
.social-icon li a:hover {
  background: #aac1bf;
  color: #2b2b2b;
}


/* ==========================================================================
media quires for mobile
========================================================================== */
@media (max-width: 460px) {
  #home {
    padding-top: 120px;
  }
  #home h3 {
    font-size: 34px;
  }
  #contact .contact-address {
    text-align: center;
  }
  #contact .contact-email,
  #contact .contact-phone, #contact .contact-website {
  padding: 100px 60px 100px 60px;
}
  #contact .medium-icon {
    display: block;
    margin-bottom: 24px;
  }
}
